{% load static %}
<!DOCTYPE html>
<html>

<head>
     <link rel="shortcut icon" href="{% static 'Content/logo.jpg' %}">
     <title>Conjunction</title>
     <link rel="stylesheet" type="text/css" href="{% static 'Content/conj.css' %}">
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
     <div data-aos="zoom-in" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="1200">

          <h1> What is Conjunction?</h1>
          <p>
               Conjunction is a word that connects or joins clauses, words, phrases together in a sentence. Conjunctions
               are used to coordinate words in a sentence. “but”, “although”, “while” are some common conjunctions.</p>
          <center>
               <div data-aos="flip-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1200">
                    <img src="{% static 'Content/conj.jpg' %}">
               </div>
          </center>
          <div data-aos="zoom-out-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">
               <dl><B><u>

                              <FONT size="6px">TYPES OF CONJUNCTIONS</FONT>
                         </u></B>
                    <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                         data-aos-duration="1200">

                         <dt>Coordinating conjunctions </dt>

                         <dd> The job of a coordinating conjunction is to join two words, phrases, or independent
                              clauses,
                              which are parallel in structure. There are seven coordinating conjunctions which are by
                              far the
                              most common conjunctions: and, but, for, nor, or, so, yet. Examples:- </dd>

                         <ul>
                              <li>We went to the stadium <Font color="Brown ">and</font>
                                   enjoyed the cricket match.
                              </li>
                              <li>
                                   Go away
                                   <Font color="Brown ">and</font>
                                   never come back.
                              </li>
                         </ul>
                    </div>
                    <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                         data-aos-duration="1200">
                         <dt>Correlative Conjunctions</dt>
                         <dd>A correlative conjunction uses a set of words in a parallel sentence structure to show a
                              contrast or to compare the equal parts of a sentence. The words of correlative
                              conjunctions
                              have a special connection between them.

                              The correlative conjunctions are not only - but also, either- or, neither - nor, both -
                              and,
                              not - but, whether - or. Examples:-</dd>
                         <ul>
                              <li>
                                   <Font color="Brown ">Nither</font>
                                   alex <Font color="Brown ">nor</font> Robin can play baseball.
                              </li>

                              <li>I want
                                   <Font color="Brown ">both</font>
                                   tea <Font color="Brown">and.</font>coffee.
                              </li>

                         </ul>
                    </div>
                    <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                         data-aos-duration="1200">

                         <dt> Subordinating Conjunctions:</dt>
                         <dd>A subordinating conjunction joins elements of an unparallel sentence structure. These
                              elements
                              are usually a dependent clause and an independent clause.. Examples:-</dd>
                         <ul>
                              <li>
                                   <Font color="Brown ">Before </font>we left home, I had had my breakfast.
                              </li>

                              <li>
                                   <Font color="Brown ">provide </font>they come, we can start class Tuesday.
                              </li>
                         </ul>
                    </div>
               </dl>
          </div>
          <form action="{% url 'prepositions' %}" method="POST">{% csrf_token %}
			<center><input id="file-upload2" type="submit" for="file-upload2" class="custom-file-upload2" value="Previous">
			</center>
		</form>
		<form action="{% url 'content' %}" method="POST">{% csrf_token %}
			<center><input id="file-upload" type="submit" for="file-upload" class="custom-file-upload" value="Index">
			</center>
		</form>
		
		<form action="{% url 'interjections' %}" method="POST">{% csrf_token %}
			<center><input id="file-upload1" type="submit" for="file-upload1" class="custom-file-upload1" value="Next">
			</center>
		</form>
     </div>
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
          AOS.init();
     </script>
</body>

</html>