{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'Content/logo.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Main.css' %}" />
<style>
        span {
            text-decoration: underline;
            text-decoration-color: red;
        }
    </style>
</head>
<body>
    <ul>
        <li style="font-family: BankGothic Md BT;">
            <center style="font-size: 60px;font-family: algerian;">Adjectives</center>
            <br>
            What is an adjective?
        </li>
        <li style="font-size: 25px;">
            Adjectives are words that describe or modify other words, making your writing and speaking much more specific, and a whole lot more interesting. Words like small, blue, and sharp are descriptive, and they are all examples of adjectives. Because adjectives are used to identify or quantify individual people and unique things, they are usually positioned before the noun or pronoun that they modify. Some sentences contain multiple adjectives.
        </li>
    </ul>
    <div id="hero">
        <img src="{% static 'Content/Example.jpg' %}" alt="Examples" height="80px">
    </div>
    <div id="sub">
        <ol type="1">
            <li style="font-size: 25px;">1. They live in a <span>big, beautiful</span></li>
            <li style="font-size: 25px;">2. Since it’s a <span>hot</span> day, Lisa is wearing a <span>sleeveless</span></li>
            <li style="font-size: 25px;">3. The mountaintops are covered in <span>sparkling</span></li>
            <li style="font-size: 25px;">4. On her birthday, Brenda received an <span>antique</span> vase filled with <span>fragrant</span></li>
        </ol>
    </div>
    <br>
    <ul>
        <div id="hero1">
            <li style="font-family: BankGothic Md BT;">Types of Adjectives</li>
        </div>
    </ul>
    <ol>
        <div id="sub1">
            <li style="font-size: 25px;">1. Possessive Adjectives</li>
            <li style="font-size: 25px;">2. Demonstrative Adjectives</li>
            <li style="font-size: 25px;">3. Coordinate Adjectives</li>
            <li style="font-size: 25px;">4. Numbers Adjectives</li>
            <li style="font-size: 25px;">5. Interrogative Adjectives</li>
            <li style="font-size: 25px;">6. Indefinite Adjectives</li>
            <li style="font-size: 25px;">7. Attributive Adjectives</li>
        </div>
    </ol>
    <ul>
        <li style="font-family: CommercialScript BT; font-size: 45px;" id="hero2">1. Possessive Adjectives</li>
        <li style="font-size: 25px;" id="Sub">As the name indicates, possessive adjectives are used to indicate possession.</li>
        <li style="font-size: 25px;" id="Sub1">Following are some of possessive adjectives:-</li>
    </ul>

    <ol id="sub2" type="i">
        <li style="font-size: 25px;">(i)   My</li>
        <li style="font-size: 25px;">(ii)  Your</li>
        <li style="font-size: 25px;">(iii) His</li>
        <li style="font-size: 25px;">(iv)  Her</li>
        <li style="font-size: 25px;">(v)   Its</li>
        <li style="font-size: 25px;">(vi)  Our</li>
        <li style="font-size: 25px;">(vii) Their</li>
    </ol>
    <li id="Sub2" style="font-size: 25px;">Possessive adjectives also function as possessive pronouns.</li>
    <ul>
        <li style="font-family: CommercialScript BT; font-size: 45px;" id="hero3">2. Demonstrative Adjectives</li>
        <li style="font-size: 25px;" id="Sub2">Like the article the, demonstrative adjectives are used to indicate or demonstrate specific people, animals, or things. These, those, this and that are demonstrative adjectives.</li>
        <li style="font-size: 25px;" id="Sub3">Following are some of demonstrative adjectives:-</li>
    </ul>
</body>
</html>