{% load static %}
<!DOCTYPE HTML>
<!DOCTYPE html>
<html>

<head>
     <link rel="shortcut icon" href="{% static 'Content/logo.jpg' %}">
     <title>An interjection</title>
     <link rel="stylesheet" type="text/css" href="{% static 'Content/inter.css' %}">
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
     <div data-aos="zoom-out" data-aos-offset="150" data-aos-easing="ease-in-sine" data-aos-duration="1200">
          <h1> What is an interjection?</h1>

          <p>
               An interjection is a word or phrase that is grammatically independent from the words around it, and
               mainly expresses feeling rather than meaning.</p>
          <center>
               <div data-aos="flip-right" data-aos-easing="ease-in-sine" data-aos-duration="1000">

                    <img src="{% static 'Content/inter.jpg' %}" height="300" width="500">
               </div>
          </center>

          <div data-aos="zoom-out-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">
               <dl><B><u>
                              <FONT size="6px">TYPES OF AN INTERJECTION</FONT>
                         </u><B>
                              <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                                   data-aos-duration="1200">
                                   <dt>Interjections for Greeting </dt>
                                   <dd> These interjection are used to indicate emotion of warmth towards the other
                                        person when they meet. These include: Hello! , Hey! , Hi! Etc. Examples:-
                                   </dd>
                                   <ul style="square">
                                        <li>
                                             <Font color="red">Hey!</font>
                                             Good to see you today.
                                        </li>
                                        <li>
                                             <Font color="red">Hello!</font>
                                             i am jane.
                                        </li>
                                   </ul>
                              </div>
                              <div data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine"
                                   data-aos-duration="1200">

                                   <dt>Interjections for Joy</dt>
                                   <dd>These interjection are used to indicate immediate emotion of happiness on a
                                        sudden happy event that occurred. These include: Hurrah! , Hurray! , Wow!,
                                        Yippee Etc. Examples:-</dd>
                                   <ul>
                                        <li>
                                             <Font color="red">Hurray!</font>
                                             My team won the game.
                                        </li>

                                        <li>I want
                                             <Font color="red">Wow!</font>I passed the exam

                                        </li>

                                   </ul>
                              </div>
                              <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                                   data-aos-duration="1200">

                                   <dt> Interjections for Approval and Praise</dt>
                                   <dd>These interjection are used by the speaker when he expresses a strong sense
                                        of
                                        approval and agreement on something that happened. These include: Bravo! ,
                                        Brilliant! , Well done! Etc. Examples:-</dd>
                                   <ul>
                                        <li>
                                             <Font color="red">Well done!</font>you got the job.
                                        </li>

                                        <li>
                                             <Font color="red">Bravo</font>he made the goal.
                                        </li>


                                   </ul>
                              </div>
                              <div data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine"
                                   data-aos-duration="1200">
                                   <dt> Interjections for Surprise</dt>
                                   <dd>These interjection are used by the speaker when he expresses a strong sense
                                        of
                                        surprise on something that happened. These include: Ha! , Hey! , What! ,
                                        Oh! ,
                                        Ah! , Eh!, Gosh, Wow, Whoa Etc. Examples:-</dd>
                                   <ul>
                                        <li>
                                             <Font color="red">What!</font>his mother died.
                                        </li>

                                        <li>
                                             <Font color="red">Ah!</font>I got promoted.
                                        </li>
                                   </ul>
                              </div>
                              <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                                   data-aos-duration="1200">
                                   <dt> Interjections for Grief/Pain</dt>
                                   <dd>These interjection are used by the speaker when he expresses a strong
                                        emotion of
                                        grief on something unfortunate that happened. These include: Alas! , Ah! ,
                                        Oh! ,
                                        Ouch! Etc. Examples:-</dd>
                                   <ul>
                                        <li>
                                             <Font color="red">Alas!</font>he is dead.
                                        </li>

                                        <li>
                                             <Font color="red">Ah!</font>the pain of injection.
                                        </li>
                                   </ul>
                              </div>
          </div>
          </dl>
          <form action="{% url 'conjunctions' %}" method="POST">{% csrf_token %}
			<center><input id="file-upload2" type="submit" for="file-upload2" class="custom-file-upload2" value="Previous">
			</center>
		</form>
		<form action="{% url 'content' %}" method="POST">{% csrf_token %}
			<center><input id="file-upload" type="submit" for="file-upload" class="custom-file-upload" value="Index">
			</center>
		</form>
     </div>
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
          AOS.init();
     </script>


</body>

</html>