{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{% static 'Content/logo.jpg' %}">
    <meta charset="UTF-8">
    <title> LOGIN PAGE </title>
    <link rel="stylesheet" type="text/css" href="{% static 'Content/loginstyle.css' %}">
</head>

<body>
    <section>
        <div class="nav">
            <li>
                <div id="Text_Formatting">Text Formatting</div>
            </li>
        </div>

        <div class="loginbox">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjYWb_kZ7jZ_aCJJdFjLqxS-DBaGsJGxopg&usqp=CAU"
                class="icon">
            <h2> Login</h2>
            <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div>
                    {{msg}}
                </div>
                {% endfor %}
                {% endif %}
                <p> USERNAME </p>
                <input type="text" name="loginusername" placeholder="" id="loginusername" required>
                <p> PASSWORD </p>
                <input type="password" name="loginpassword" placeholder="" id="loginpassword" required><br>
                <br>
                <input type="submit" value="Login">
                <a href="{% url 'frgt_pswd' %}"> Forget Password</a><br>
                <br>
                <a href="{% url 'signup' %}">Don't have an account ? </a>
            </form>
        </div>
    </section>
</body>

</html>