<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> REGISTRATION </title>
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
</head>

<body>
    <section>
        <div class="nav">
            <li>
                <div id="Text_Formatting">Text Formatting</div>
            </li>
        </div>

        <div class="alert" id="new1">
            <span class="closebtn" >&times;</span>  
            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
          </div>
          
        <div class="loginbox">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjYWb_kZ7jZ_aCJJdFjLqxS-DBaGsJGxopg&usqp=CAU"
                class="icon">
            <p> FIRST NAME </p>
            <input type="text" name="fname" placeholder="" required>
            <p> LAST NAME </p>
            <input type="text" name="lname" placeholder="" required><br>
            <p> USER NAME </p>
            <input type="text" name="username" placeholder="" required><br>
            <p> E-MAIL </p>
            <input type="email" name="email" placeholder="" required>
            <div id="error"></div>
            <p> PASSWORD </p>
            <input type="password" name="pass1" placeholder="" id="pass3" required><br>
            <br>
            <p> CONFIRM PASSWORD </p>
            <input type="password" name="pass2" placeholder="" id="pass4" required><br>
            <br>
            <!--<p> PHONE NUMBER </p>
                <input type="tel" name="phone_number" placeholder=""  required>-->
            <br>
            <input type="button" value="REGISTER" onclick="show()">
        </div>
    </section>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
        function check() {
            if (document.getElementById("pass3").value == document.getElementById("pass4").value)
                return true;
            else
                document.getElementById("error").innerHTML = "Wrong keyword entry."
            return false;
        }
        function show() {
            
            document.getElementById("new1").style.display = "block";

        }
    </script>
</body>

</html>