{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{% static 'Content/logo.jpg' %}">
    <meta charset="UTF-8">
    <title> LOGIN PAGE </title>
    <link rel="stylesheet" type="text/css" href="{% static 'Content/loginstyle.css' %}">
</head>

<body>
    <section>
        <div class="nav">
            <li>
                <div id="Text_Formatting">Text Formatting</div>
            </li>
        </div>

        <div class="loginbox">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjYWb_kZ7jZ_aCJJdFjLqxS-DBaGsJGxopg&usqp=CAU"
                class="icon">
            <h2 style="font-size:40px;"> Reset Password</h2>
            <form method="POST" action="{% url 'password_reset' %}">{% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div>
                    {{msg}}
                </div>
                {% endfor %}
                {% endif %}
                <p> PASSWORD </p>
                <input type="password" name="password" placeholder="" id="loginpassword" required><br>
                <br>
                <p> CONFIRMATION PASSWORD </p>
                <input type="password" name="confirmation_password" placeholder="" id="loginpassword" required><br>
                <br>
                <input type="submit" value="Next">
            </form>
        </div>
    </section>
</body>

</html>