
	* body{
		background-image: url('https://cdn2.vectorstock.com/i/1000x1000/33/41/english-vintage-retro-background-seamless-vector-2993341.jpg');
        background-size: 100%;
    }
	 p{
                background-color:rgba(0,0,0,0.5);
                padding: 20px;
                margin-left: 100px;
                margin-right: 100px;
                list-style-type:decimal;
                font-size: 28px;
                color:lightseagreen ;
                text-align: center;
            }
            h1{
            	font-size: 45px;
            	background-color: rosybrown ;
            	text-align: center;
                
            }
           img{
           	border-radius: 15px;
height:300px;
width:400px;
           }

dl{
                background-color:rgba(0,0,0,0.3);
                padding: 20px;
                margin-left: 100px;
                margin-right: 100px;
                list-style-type:decimal;
                font-size: 15px;
                color: pink;


            }

            dl dt{
                height:30px;
                margin: 20px;
                color: red;
                background-color: skyblue ;
                font-size: 25px;
	}
	dl dd{
		font-size: 20px;
		color: white   ;
	}
	ul li{
		color:gold ;
		font-size: 20px;
		font-style: arial;
	}
img{
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 15px;
	border-color: black;
}
