<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'CSS/logo.jpg' %}" style="border-radius: 100px 100px 100px 100px;">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="new11.css">

</head>

<body>
    <form action="{% url 'login' %}" method="POST">
        <div class="nav">
            <li>
                <div id="Text_Formatting">Text Formatting</div>
            </li>
            <li>
                <div id="login">
                    <div class="dropdown">
                        <a><img class="dropbtn" src="picture.png" alt="profile" height="65px"></a>
                        <div class="dropdown-content">
                            <a href="{% url 'login' %}">Sign in/Sign up</a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div class="container">
            <a>
                <button class="btn btn1">Content</button>
            </a>
    </form>
    <!--<image src="{% static 'CSS/BG1.jpg' %}" alt='thinking' id="think" height="750px" width="500px"></image>-->
    <form action="/Check" method="GET">
        <a>
            <button class="btn btn2">Check</button>
        </a>
        </div>
    </form>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
    </script>
</body>

</html>